<footer class="site-footer">
  <div class="container-fluid px-4">
    {% block footer_content %}
    <div class="row epi-footer-main">

      <div class="col-md-4 epi-footer-col epi-footer-col-divider">
        {% block footer_about %}
        <div class="epi-footer-brand-row">
          <img src="https://episerve.zib.de/img/logo_episerve10.png" alt="EPISERVE" class="epi-footer-logo-img">
          <div class="epi-footer-brand-text">
            <div class="epi-footer-logo">EPISERVE</div>
            <div class="epi-footer-tagline">Epidemic Simulation &amp; Data Service Platform</div>
          </div>
        </div>
        <p class="epi-footer-desc">Open simulation platform and data service for infectious disease research and pandemic preparedness in Germany. Provided by the EPISERVE Consortium and hosted at Zuse Institute Berlin.</p>
        {% endblock %}
      </div>

      <div class="col-md-4 epi-footer-col epi-footer-col-divider">
        {% block footer_links %}
        <ul class="epi-footer-links">
          <li><a href="https://zib.de/impressum">{{ _('Legal Notice and Data Protection') }}</a></li>
          <li><a href="https://docs.ckan.org/en/latest/api/index.html">{{ _('CKAN API') }}</a></li>
        </ul>
        {% endblock %}
      </div>

      <div class="col-md-4 epi-footer-col">
        {% block footer_funding %}
        <p class="epi-footer-funding-label">{{ _('With funding from the:') }}</p>
        <img src="https://episerve.zib.de/img/logo-bmftr.png" alt="Federal Ministry of Research, Technology and Space" class="epi-footer-funding-img">
        {% endblock %}
      </div>

    </div>
    <div class="epi-footer-bottom">
      <span>&copy; 2026 EPISERVE Consortium. All rights reserved.</span>
    </div>
    {% endblock %}
  </div>
</footer>
