<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-5">
        {% block footer_about %}
        <p class="footer-title">EPISERVE Data Catalog</p>
        <p>Open epidemiological datasets and model outputs for infectious disease research, provided by the EPISERVE Consortium.</p>
        {% endblock %}
      </div>
      <div class="col-md-3 offset-md-1">
        {% block footer_links %}
        <p class="footer-title">{{ _('Explore') }}</p>
        <ul>
          {% set dataset_type = h.default_package_type() %}
          <li><a href="{{ h.url_for(dataset_type ~ '.search') }}">{{ _('Datasets') }}</a></li>
          <li><a href="{{ h.url_for(h.default_group_type('organization') ~ '.index') }}">{{ _('Organizations') }}</a></li>
          <li><a href="{{ h.url_for(h.default_group_type('group') ~ '.index') }}">{{ _('Groups') }}</a></li>
          <li><a href="{{ h.url_for('home.about') }}">{{ _('About') }}</a></li>
        </ul>
        {% endblock %}
      </div>
      <div class="col-md-3">
        {% block footer_api %}
        <p class="footer-title">{{ _('Developers') }}</p>
        <ul>
          {% set api_url = 'https://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
          <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
          <li><a href="{{ h.url_for('api.get_api', ver=3) }}">{{ _('API endpoint') }}</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>
    <div class="footer-divider row">
      <div class="col-md-8">
        {% block footer_attribution %}
        &copy; EPISERVE Consortium &mdash;
        Hosted at <a href="https://www.zib.de">Zuse Institute Berlin</a>
        {% endblock %}
      </div>
      <div class="col-md-4 text-end">
        {% block footer_lang %}
        {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</footer>
