<footer class="site-footer">
  <div class="container-fluid px-4">
    {% block footer_content %}
    <div class="row epi-footer-main">
      <div class="col-md-6 epi-footer-brand">
        {% block footer_about %}
        <div class="epi-footer-logo">EPISERVE</div>
        <p class="epi-footer-tagline">Epidemic Simulation &amp; Data Service Platform</p>
        <p class="epi-footer-desc">Open epidemiological datasets and model outputs for infectious disease research and pandemic preparedness, provided by the EPISERVE Consortium and hosted at Zuse Institute Berlin.</p>
        <p class="epi-footer-copy">&copy; {{ h.now().year }} EPISERVE Consortium</p>
        {% endblock %}
      </div>
      <div class="col-md-3 offset-md-3">
        {% block footer_links %}
        <p class="epi-footer-section-title">{{ _('Links') }}</p>
        <ul class="epi-footer-links">
          {% set api_url = 'https://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
          <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
          <li><a href="/imprint">{{ _('Imprint') }}</a></li>
          <li><a href="/privacy-policy">{{ _('Privacy Policy') }}</a></li>
          <li><a href="/code-of-conduct">{{ _('Code of Conduct') }}</a></li>
          <li><a href="/terms">{{ _('Terms &amp; Conditions') }}</a></li>
          <li><a href="/contact">{{ _('Contact') }}</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</footer>
